<html>
    <head>
        <title>About me</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <a href="https://linkedin.com/in/0xzer0x"><img class="icon" src="/img/linkedin.png" alt="LinkedIn"></a>
        <a href="https://github.com/0xzer0x"><img class="icon" src="/img/github.png" alt="GitHub"></a>
        <br>
        <img src="img/me.jpg" alt="me.jpg" class="portrait" />
        <span id="about-text">Hard-working self-motivated computer engineering student who’s dedicated to learning through practice, interested in developing my skills as a software engineer/penetration tester</span>
        </div>
        
        {{>footer}}
    </body>
</html>